* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  body {
    font-family: Montserrat, sans-serif;
  }
  .container {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
    margin-right: auto;
    margin-left: auto;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 215px;
    height: 74px;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  .banner {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: -o-linear-gradient(
        top,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url(../img/jash-img-3/header.jpg);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.8)),
        to(rgba(0, 0, 0, 0.8))
      ),
      url(../img/jash-img-3/header.jpg);
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url(../img/jash-img-3/header.jpg);
  }
  .heading-bold{
      color: #E6FF00;
  }
  .first-section-box{
    border: 0.0625rem solid #A3BAC6;
    border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
    background: #B2B3B5;
    opacity: 0.71;
    width:879px;
    height: 431px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .content{
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      justify-content: space-evenly;
  }
  .vertical-line {
    border-left: 2px solid black;
    height: 300px;
  }
  .heading{
      font-size: 2.5rem;
  }
  .list{
    font-size: 1.9rem;
}
  .horizontal-line{
    border-bottom: 5px dotted #fff;
    width: 100%;
    margin-top: 3%;
  }
  .form{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .heading-form{
color: #000;
font-size: 2.5rem;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   padding-top: 2%;
   padding-bottom: 5%;
  }
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .details {
    color: #fff;
    font-weight: 400;
    font-size: 3.6rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
  input {
    height: 3.5rem !important;
    border: 1px solid #dedede;
    width: 30rem !important;
    border-width: 1px !important;
    border-radius: 5px !important;
    margin-bottom: 3% !important;
  }
  label {
    font-size: 1.3rem;
    color: #fff;
  }
  .form-submit-button{
    width: 28rem;
    border-radius: 5px !important;
  }
  .offer-txt {
    display: block;
    text-align: center;
    font-weight: 700;
    margin-top: 3rem;
    font-size: 2.8rem;
  }
  .offer-cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .box{
    border: 0.0625rem solid #A3BAC6;
    border-radius: 3.125rem 3.125rem 3.125rem 3.125rem;
    background: rgb(134,61,138);
    opacity: 0.56;
    height:344px;
    width:400px;
  }
  .card-section-1 {
    display: relative;
    margin-bottom: 15%;
  }
  .offer-1,
  .offer-2,
  .offer-3 {
    position: relative;
  }
  .text-block {
    display: block;
    position: absolute;
    top: 10%;
    left: 8%;
    text-align: center;
    color: #fff;
  }
  .title {
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: 2.7rem;
    text-decoration: underline;
  }
  .features {
    display: block;
    line-height: 4rem;
    font-size: 2.2rem;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder;
    padding-top: 2%;
  }
  .bottom {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.1rem solid #000;
    width: 9rem;
    margin-bottom: 2%;
    margin-top: 1%;
  }
  .btn-primary-2 {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    white-space: nowrap;
    text-decoration: none;
    background-color: #f87400;
    color: #fff;
    font-weight: 400;
    padding: 1.4rem;
    margin-top: 4rem;
    font-size: 1.7rem;
    text-align: center;
    border-radius: 1rem;
  }
  .video-section {
    padding-top: 5%;
    padding-bottom: 8%;
    /* height: 50vh; */
    background-color: rgb(231, 231, 231);
  }
  .video-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .connect-us {
    font-weight: 400;
    font-size: 3.6rem;
    text-align: center;
  }
  .btn-primary-4 {
    margin-top: 5%;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    background-color: #f87400;
    color: #fff;
    font-weight: 400;
    padding: 1.4rem;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.7rem;
    width: 30rem;
    text-align: center;
    border-radius: 1rem;
  }
  .contact-section1 {
    background-color: #823287;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   padding-top: 5%;
   padding-bottom: 5%;
  }
  .contact-form1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .detail-flex{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .details0 {
    color: #fff;
    font-weight: 700;
    font-size: 4.5rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding-bottom: 5%;
  }
  .details1 {
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    text-align: center;
  }
  input {
    height: 3.5rem;
    border: 1px solid #dedede;
    width: 30rem;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 3%;
  }
  footer {
    background-color: #56045c;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: #fff;
  }
  footer p {
    padding: 1.5%;
  }
  label {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 2%;
  }
  .btn-primary-5 {
    display: block;
    text-decoration: none;
    background-color: #f87400;
    white-space: nowrap;
    color: #fff;
    font-weight: 400;
    padding: 1.4rem;
    font-size: 1.7rem;
    width: 30rem;
    text-align: center;
    border-radius: 1rem;
    margin-top: 5%;
  }

  @media only screen and (max-width: 1100px) {
    .heading{
        font-size: 2rem;
        text-align: center;
    }
    .list{
      font-size: 1.5rem;
      text-align: center;
  }
  .first-section-box{
    width:709px;
    height: 431px;
  }
    .contact-section {
        flex-direction: column;
        align-items: center;
      }
      .contact-form {
          margin-top: 5%;
      }
      .video{
        width:420px;
        height:250px;
      }
      .details0 {
        font-size: 3.5rem;
      }
      .details1 {
        font-size: 2rem;
      }
  }
  @media only screen and (max-width: 860px) {
      .container{
        padding-left: 2%;  
        padding-right: 2%;
      }
      .heading{
        font-size: 2rem;
        text-align: center;
    }
    .list{
      font-size: 1.5rem;
      text-align: center;
  }
  .first-section-box{
    width:709px;
    height: 431px;
  }
    .details{
        font-size: 2.5rem;
    }
    .offer-cards {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
      }
      .offer-2{
          margin-top: 5%;
      }
      .video-contents {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      .connect-us {
          margin-top: 3%;
      }
      .contact-section1 {
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
      }
      .contact-form1{
          margin-top: 8%;
      }
      .card-section-1{
        margin-bottom: 25%;
      }
  }
  @media only screen and (max-width: 760px) {
    .heading{
        font-size: 1.5rem;
        text-align: center;
    }
    .heading-form{
        font-size: 2rem;
        text-align: center;
    }
    .list{
      font-size: 1.2rem;
      text-align: center;
  }
  .first-section-box{
    width:609px;
    height: 431px;
  }
  }
  @media only screen and (max-width: 660px) {
    .first-section-box{
        height:809px;
        width: 431px;
        flex-direction: column;
      }
      .heading{
        font-size: 2.2rem;
        text-align: center;
    }
    .heading-form{
        font-size: 3rem;
        text-align: center;
    }
    .list{
      font-size: 1.6rem;
      text-align: center;
  }
      .vertical-line{
          display: none;
      }
  }
  @media only screen and (max-width: 460px) {
      .details{
          font-size: 2rem;
          margin-bottom: 3%;
      }
      .first-section-box{
        height:809px;
        width: 300px;
        align-items: center;
      }
      .content{
          align-items: center;
      }
      .heading{
        font-size: 2rem;
    }
    .heading-form{
        font-size: 2.5rem;
    }
    .list{
      font-size: 1.5rem;
  }
  .horizontal-line{
      width:90%;
      text-align: center;
  }
      .box{
        height:280px;
        width:360px;
      }
      .title {
        font-size: 3rem;
      }
      .features {
        line-height: 3rem;
        font-size: 2rem;
      }
      .video{
        width:320px;
        height:200px;
      }
      .connect-us {
        font-size: 2.5rem;
    }
    .offer-txt{
      font-size: 2rem;
   }   
   .details0{
    font-size: 2.2rem;
}
.details1{
    font-size: 2rem;
}
  }
  @media only screen and (max-width: 405px) {
      .container{
          padding-left: 0%;
          padding-right: 0%;
      }
    .details{
        font-size: 1.7rem;
    }
    .box{
      height:270px;
      width:300px;
    }
    .title {
      font-size: 2.5rem;
    }
    .features {
      line-height: 3rem;
      font-size: 1.7rem;
    }
    .video{
      width:300px;
      height:200px;
    }
    .btn-primary-2{
        font-size: 1.5rem;
    }
    .card-section-1{
      margin-bottom: 35%;
  }
}